@use "variables" as *;

.menu-fab {
  position: fixed;
  right: 65px;
  bottom: 20px;

  .menu-btn {
    width: 56px;
    height: 56px;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      transform: scale(1.1) rotate(5deg);
    }
  }

  .menu-panel {
    display: none;
    flex-direction: column;
    position: fixed;
    bottom: 85px;
    right: 65px;

    background: $fondoTexto;
    border-radius: 12px;
    box-shadow: $boxshadow;
    overflow-y: auto;

    a,
    button {
      background: $fondoTexto;
      color: $fuente;
      text-decoration: none;
      border-radius: 8px;
      text-align: center;
      text-shadow: $textshadow;
      font-size: 0.9rem;
    }
  }

  &.open .menu-panel {
    display: flex;
    max-height: 70dvh;
    scrollbar-width: thin;
    scrollbar-color: $verde #222;
  }
}

.planeta-btn {
  width: 60px;
  height: 60px;
  object-fit: contain;
  transition: transform 0.3s ease;
  transform-origin: center;

  &:hover {
    animation: warp-shake 0.3s infinite ease-in-out;
  }
}

// 🔹 Responsividad para móviles
@media (max-width: 600px) {
  .menu-fab {
    right: 30px; // menos margen en móviles
    bottom: 15px;

    .menu-btn {
      width: 45px;
      height: 45px;
    }

    .menu-panel {
      bottom: 70px;
      right: 30px;

      a,
      button {
        font-size: 0.8rem;
        padding: 0.3rem 0.6rem;
      }
    }
  }

  .planeta-btn {
    width: 45px;
    height: 45px;
  }
}