@use "variables" as *;
*, *::before, *::after {  box-sizing: border-box;}

html, body {
    overflow-x: hidden; 
    min-height: 100%; 
    font-family: $font;
    color: $fuente;
    background-image: $background;
    font-size: clamp(14px, 1.5vw, 18px);
    align-items: stretch;
    display: flex;
    flex-direction: column;  
}


body.blackhole{
    background: $backgroundfacha;
}

body.planetGG{
    background: $backgroundGG;
}

body.planetD{
    background: $backgroundD;
}

body.planetW{
    background: $backgroundW;
}

body.sun{
    background: $backgroundsun;
}

h2, h3 {
    text-align: center;
    color: $fuente;
    text-shadow: $textshadow;
    margin-bottom: 0.5rem;
}
p {
    display: flex;
    align-items: center;
    background: $fondoTexto;
    border: 1px solid rgba(0, 255, 157, 0.4);
    border-radius: 8px;
    box-shadow: $boxshadow;
    padding: 0.5rem 1rem;
    color: $fuente;
    text-align: center;
    text-shadow: $textshadow;
    max-width: 90%;
    margin: 0.5rem auto;
}

.planeta-fondo{
    display: block;
    margin: 2rem auto;
    max-width: 250px;
    width: 80vw;
    height: auto;

}
