@import "variables";


body{
    font-family: $font;
    color: rgb(125, 243, 78);
    background-image: $background;
    background-repeat: no-repeat;
}

p {
    display: flex;
    align-items: center;
    background: linear-gradient(
    135deg,
    rgba(2, 78, 49, 0.445),
    rgba(14, 80, 49, 0.671)
    
);
border: 1px solid rgba(0, 255, 157, 0.4);
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 255, 157, 0.7);
padding: 0.5rem 1rem;
color: #00ff9d;
font-family: 'Orbitron', sans-serif;
text-align: center;
text-shadow: 0 0 5px #00ff9d;
max-width: 90%;
margin: 0.5rem auto;
}


.galaxia{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    
}
body.blackhole{
    background: $backgroundfacha;
}

body.planetGG{
    background: $backgroundGG;
}

body.planetD{
    background: $backgroundD;
}

body.planetW{
    background: $backgroundW;
}

body.sun{
    background: $backgroundsun;
}

.planeta-fondo{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vh;
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


