@use "variables" as *;

$flipendo: cubic-bezier(.1, .22, .8, 1.13);

.piloto-center {

display: flex;
align-items: center;
justify-content: center;
padding: 2rem 0;
min-height: unset;
}
.flip-piloto {
    width: min(200px, 50vw);
    aspect-ratio: 3 / 4;
    border-radius: 1rem;
    transition: transform 0.2s ease;

    &:hover {
    transform: scale(1.03);
    box-shadow: $boxshadow;
}

    &-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.55s $flipendo;
        transform-style: preserve-3d;
    }

    &-front,
    &-back {
        position: absolute;
        inset: 0; 
        border-radius: 1rem;
        backface-visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid $verde;
    }

    &-front {
        background-size: cover;
        background-position: center;
        
    }

    &-back {
        font-size: clamp(0.9rem, 2.5vw, 1.25rem);
        padding: 1rem;
        background-color: rgba(2, 78, 49, 0.445);
        transform: rotateY(180deg);
        
    }

    &.flipped .flip-piloto-inner {
        transform: rotateY(-180deg);
    }
}






