@use "variables" as *;

.form-page {
min-height: 100vh;
display: flex;
align-items: center;
justify-content: center;
padding: 1rem;
}

.form-wrapper {
padding: 2rem;
border-radius: 1rem;
max-width: 250px;
display: block;
text-align: center
    label, h3 {
    color: $fuente;
    text-shadow: $textshadow;
    }
}

#pilotCarousel {
    box-shadow: $boxshadow;
    border: 2px solid $verde;
.carousel-inner {
    border-radius: 0.5rem;
    
}
.carousel-
img {
    object-fit: contain;
    }
}

a,button {
    display: block;
    
    background: $fondoTexto;
    border: $border;
    color: $fuente;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 8px;
    text-align: center;
    text-shadow: $textshadow;
    font-size: 0.9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


input[type="text"],
input[type="number"],
input[type="email"],
input.form-control {
    background: $fondoTexto;
    color: $fuente;
    border: 1.5px solid $verde;
    border-radius: 0.7rem;
    box-shadow: 0 0 8px $fuente;
    font-family: $font;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    transition: box-shadow 0.3s, border-color 0.3s;
    text-align: center;

&:focus {
    outline: none;
    box-shadow: 0 0 16px $verde;
    background: $fondoTexto;
    color: $fuente;
    text-align: center;
}
}
