/* tipografia */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

$font: "Raleway", sans-serif;

/* fondos */
$background: url('../assets/backgrounds/backgrounds.png');
$backgroundfacha: url('../assets/backgrounds/background_electric.png');
$backgroundGG: url('../assets/backgrounds/background_planetGG.png');
$backgroundW: url('../assets/backgrounds/background_home.png');
$backgroundD: url('../assets/backgrounds/background_planetD.png');
$backgroundsun: url('../assets/backgrounds/background_electric.png');

/* colores */
$verde: #09a143;
$fuente: #eafff7;
$fondoTexto: linear-gradient( 135deg, rgba(2, 78, 49, 0.445),rgba(14, 80, 49, 0.671));
$border: rgba(0, 255, 157, 0.4);
$boxshadow: 0 0 10px rgba(0, 255, 157, 0.7);
$textshadow: 0 0 5px #00ff9d;
$hover: rgba(0, 255, 157, 0.3);